bootstrap.servers=localhost:{{ kafka_broker_client_port | default(kafka_broker_port) }}
security.protocol={{ kafka_broker_security_protocol }}
sasl.mechanism={{ kafka_broker_sasl_mechanism }}
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ kafka_broker_admin_user }}" password="{{ kafka_broker_admin_password }}";
ssl.truststore.location={{ kafka_broker_ssl_dir }}/{{ kafka_broker_ssl_truststore_file }}
ssl.truststore.password={{ kafka_broker_ssl_truststore_password }}
