#!/bin/bash
export SCHEMA_REGISTRY_HEAP_OPTS="-Xmx{{ schema_registry_heap_size }} -Xms{{ schema_registry_heap_size }}"
export SCHEMA_REGISTRY_JVM_PERFORMANCE_OPTS="-server -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:+ExplicitGCInvokesConcurrent -Djava.awt.headless=true"
