# Ulimits for {{ kafka_user }} user — managed by Ansible
{{ kafka_user }}  soft  nofile  {{ kafka_nofile_limit }}
{{ kafka_user }}  hard  nofile  {{ kafka_nofile_limit }}
{{ kafka_user }}  soft  nproc   {{ kafka_nproc_limit }}
{{ kafka_user }}  hard  nproc   {{ kafka_nproc_limit }}
{{ kafka_user }}  soft  memlock unlimited
{{ kafka_user }}  hard  memlock unlimited
